body {
  text-align: center;
  background-color: #87aad8;
}

h1 {
  margin-top: 10px;
  font-family: "Jost";
  font-size: 4.2rem;
  font-weight: bold;
  color: #fbff06;
}

h2 {
  font-family: "Jost";
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff; 
}

p {
  font-family: "Jost";
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.clover-container {
  margin-top: 40px;
}

.title-container {
  margin-top: 40px;
}

.balls-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.balls {
  width: 120px;
  height: 180px;
}

.ball {
  font-family: "Jost";
  font-size: 2rem;
  font-weight: bold;
  color: #0c0b0b;
  text-align: center;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  padding: 20px;
  margin: 5px auto;
  box-shadow: 2px 2px 8px rgb(237, 255, 77);
}

.alert {
  justify-items: center;
  margin: 15px auto;
}

.more-drawn {
  color: #721c24;
}

.less-drawn {
  color: #004085;
}

.bl1 {
  vertical-align: auto;
}

.btn {
  margin-top: 5px;
}

.legend-title-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.legend-container {
  display: flex;
  justify-content: center;
  text-align: left;
}

.footer-container {
  margin-top: 50px;
}

.clover {
  width: 32px;
  height: 32px;
}

.credit {
  color: #eeeeee;
  font-family: "Jost";
}

.contact:hover {
  color: #eeeeee;
}

.alert {
  font-size: 12px;
  font-weight: normal;
  width: 100px;
}


#buttonMenu{

  position: relative;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  left:0;
  top:0;
  height:40px;
  width:300px;
  text-align:center;
}
#buttonMenu:hover
{
color: white;
background: #0fe4c0;
box-shadow: 0 0 10px #fbff1c, 0 0 40px #cef329, 0 0 80px #f3e521;
}